<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.ichi2.anki.permission.READ_WRITE_DATABASE" />
    <uses-permission android:name="com.ichi2.anki.parallel_A.permission.READ_WRITE_DATABASE" />
    <uses-permission android:name="com.ichi2.anki.parallel_B.permission.READ_WRITE_DATABASE" />
    <uses-permission android:name="com.ichi2.anki.parallel_C.permission.READ_WRITE_DATABASE" />
    <uses-permission android:name="com.ichi2.anki.debug.permission.READ_WRITE_DATABASE" />
    <uses-permission android:name="com.ichi2.anki.alpha.permission.READ_WRITE_DATABASE" />
    <uses-permission android:name="com.ichi2.anki.A.permission.READ_WRITE_DATABASE" />
    <uses-permission android:name="com.ichi2.anki.B.permission.READ_WRITE_DATABASE" />
    <uses-permission android:name="com.ichi2.anki.C.permission.READ_WRITE_DATABASE" />
    <uses-permission android:name="com.ichi2.anki.parallel.permission.READ_WRITE_DATABASE" />

    <queries>
        <package android:name="com.ichi2.anki" />
        <package android:name="com.ichi2.anki.debug" />
        <package android:name="com.ichi2.anki.alpha" />
        <package android:name="com.ichi2.anki.parallel_A" />
        <package android:name="com.ichi2.anki.parallel_B" />
        <package android:name="com.ichi2.anki.parallel_C" />
        <package android:name="com.ichi2.anki.A" />
        <package android:name="com.ichi2.anki.B" />
        <package android:name="com.ichi2.anki.C" />
        <package android:name="com.ichi2.anki.parallel" />
        <provider android:authorities="com.ichi2.anki.providers.CardContentProvider" />
        <provider android:authorities="com.ichi2.anki.parallel_A.providers.CardContentProvider" />
        <provider android:authorities="com.ichi2.anki.parallel_B.providers.CardContentProvider" />
        <provider android:authorities="com.ichi2.anki.parallel_C.providers.CardContentProvider" />
        <provider android:authorities="com.ichi2.anki.debug.providers.CardContentProvider" />
        <provider android:authorities="com.ichi2.anki.alpha.providers.CardContentProvider" />
        <provider android:authorities="com.ichi2.anki.A.providers.CardContentProvider" />
        <provider android:authorities="com.ichi2.anki.B.providers.CardContentProvider" />
        <provider android:authorities="com.ichi2.anki.C.providers.CardContentProvider" />
        <provider android:authorities="com.ichi2.anki.parallel.providers.CardContentProvider" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".worker.AlarmReceiver"
            android:exported="false" />

        <receiver
            android:name=".worker.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
